# Testing import function
>Raw DataFrame will be stored as `df`

In [1]:
import wrangle_jones

In [2]:
df = wrangle_jones.acquire_zillow()

In [3]:
df.head()

,baths,beds,sqft,fips,fullbaths,latitude,longitude,rooms,yearbuilt,tax_value,garagecarcnt,logerror,transactiondate,unitcnt,propertylandusetypeid
0,3.5,4.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,0.0,1998.0,1023282.0,2.0,0.025595,2017-01-01,NaN,261.0
1,1.0,2.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,5.0,1967.0,464000.0,1.0,0.055619,2017-01-01,NaN,261.0
2,2.0,3.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,6.0,1962.0,564778.0,2.0,0.005383,2017-01-01,NaN,261.0
3,3.0,4.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,0.0,1970.0,145143.0,NaN,-0.103410,2017-01-01,1.0,261.0
4,3.0,3.0,1312.0,6037.0,3.0,34185120.0,-118414640.0,0.0,1964.0,119407.0,NaN,0.006940,2017-01-01,1.0,266.0

# Testing wrangle function
>Wrangled df will be stored in `df_wrangled`

In [4]:
df_wrangled = wrangle_jones.wrangle_zillow(df)

NumExpr defaulting to 8 threads.

In [5]:
df_wrangled.head()

,baths,beds,sqft,fullbaths,latitude,longitude,rooms,tax_value,garagecarcnt,logerror,unitcnt,fips_loc,age
7814,3.0,5,2688,3,33682530,-118006688,8,464307.0,2.0,0.003077,1,"Orange, CA",50
18322,3.0,4,3569,3,33892296,-117932312,6,1208181.0,2.0,-0.029418,1,"Orange, CA",60
28389,1.0,2,790,1,33842457,-117911488,5,177355.0,1.0,0.097092,1,"Orange, CA",102
36663,4.0,4,3023,4,33546605,-117799619,0,9323011.0,2.0,0.060729,1,"Orange, CA",106
46866,1.0,3,995,1,34025375,-117738319,0,142583.0,2.0,-0.009416,1,"Los Angeles, CA",64

In [6]:
df_wrangled.shape[0] - df_wrangled.dropna().shape[0]

0

### Our wrangle function took care of all our null values

In [7]:
df.isnull().sum().sort_values(ascending = False)

garagecarcnt             51906
unitcnt                  26818
fullbaths                  609
yearbuilt                  263
sqft                       196
tax_value                    1
baths                        0
beds                         0
fips                         0
latitude                     0
longitude                    0
rooms                        0
logerror                     0
transactiondate              0
propertylandusetypeid        0
dtype: int64

In [8]:
df_wrangled.isnull().sum().sort_values(ascending = False)

baths           0
beds            0
sqft            0
fullbaths       0
latitude        0
longitude       0
rooms           0
tax_value       0
garagecarcnt    0
logerror        0
unitcnt         0
fips_loc        0
age             0
dtype: int64

In [9]:
df_wrangled.fips_loc.dtype

dtype('O')

In [10]:
# (2022 - df_wrangled.yearbuilt)/2

In [11]:
df_wrangled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 7814 to 46866
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   baths         5 non-null      float64
 1   beds          5 non-null      int64
 2   sqft          5 non-null      int64
 3   fullbaths     5 non-null      int64
 4   latitude      5 non-null      int64
 5   longitude     5 non-null      int64
 6   rooms         5 non-null      int64
 7   tax_value     5 non-null      float64
 8   garagecarcnt  5 non-null      float64
 9   logerror      5 non-null      float64
 10  unitcnt       5 non-null      int64
 11  fips_loc      5 non-null      object
 12  age           5 non-null      int64
dtypes: float64(4), int64(8), object(1)
memory usage: 560.0+ bytes

In [12]:
# df_wrangled[['beds', 'sqft']].astype('int')

In [13]:
import seaborn as sns
for col in df_wrangled.columns:
    sns.boxplot(df[col])
    print()

NameError: name 'sns' is not defined